/*
Theme Name: ChildPress
Author: 88wpthemes
Author URI: http://bangalorethemes.com
Created by: 88wpthemes
Description: ChildPress is a versatile theme designed for child care services, schools, and other educational groups. This theme includes single color scheme, logo, social links, contact info and service etc. ChildPress is also responsive theme that compatible for all devices likes smartphone, tablet, laptop, or desktop computer. With its flexibility and included plugins, ChildPress is a great child care theme that is supported by a strong customer support team.
Template: business-responsiveness
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: right-sidebar, threaded-comments, theme-options, sticky-post, custom-menu, featured-images, custom-logo, custom-header, custom-background, editor-style, blog
Text Domain: childpress
*/
html{
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
	height:40px;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #E0E0E0;
	margin: 0 0 1.75em;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

body {
    padding:0;
	margin:0;
	overflow-x:hidden;
	background-color:#ebeff2;
	word-wrap:break-word;
}

.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
}

/* 3.0 Typography css ======================= */
body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
	color: #525252;
	word-wrap: break-word;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 500;
	margin: 0;
	text-rendering: optimizeLegibility;
	color:#242424;
	line-height:1.8;
}

p {
	margin: 0 0 1.25em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	color: #686868;
	font-size: 19px;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #E0E0E0;
	font-size: 16px;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #E0E0E0;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #E0E0E0;
	cursor: help;
}

mark,
ins {
	background: #878788;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

p a{ 
	text-decoration: none;
	display:inline-block;
	background-position: 0 -0.125em;
    -webkit-transition: background-position 150ms ease-in-out;
    transition: background-position 150ms ease-in-out;
}
p a:hover,
p a:focus{
	outline:none;
	text-decoration: none;
	background-position: 0 -0.15em;
}


/* 4.0 Elements css ======================= */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

hr {
	background-color: #E0E0E0;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #E0E0E0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color */
::-webkit-input-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}



/* 5.0 Forms css ======================= */
input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #ffffff;
	border:  0;
	font-family:  'Open Sans', sans-serif;
	padding: 10px 18px;
	font-size: 18px;
	border-radius: 6px;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s; 
	-moz-transition: all 0.6s ease 0s; 
	-ms-transition: all 0.6s ease 0s;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	color: #ffffff;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
select,
textarea {
	background: rgba(249, 249, 249, 0.5);
	border:0;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
	border-radius: 3px;
	margin-top: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
	background-color: #fff;
	border-color: #e8e8e8;
	color: #1a1a1a;
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	border: 2px solid #f7f7f7;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	font-weight: normal;
	color: #ababab;
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
	margin: 0;
}

.search-submit:before {
	font-family: 'FontAwesome';
    content: "\f002";
    font-size: 24px;
    left: 2px;
    top: 4px;
    line-height: 36px;
    position: relative;
    width: 40px;
    display: inline-block;
}

.search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

form > p > label {
    color: #969696;
    font-weight: 300;
    margin-bottom: 10px;
}

/* Default heddings css ======================= */
body{
	background-color:#ffffff;
	line-height: 1.8;
}

::selection{
	color:#fff;
}

.sticky{}
.bypostauthor{}

h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 20px; }
h5, .h5 { font-size: 18px; }
h6, .h6 { font-size: 16px; }
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {font-family: 'Open Sans', sans-serif; margin-bottom:20px; }

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


/* 6.0 navigation css ======================= */
#rdn-menu{ 
	background-color:#ffffff;
	box-shadow: 0 0 7px #d8d8d8; 
}

.navbar{ 
	margin:0; 
	border:0; 
	min-height: 36px;
}

.title-box a{
	line-height: 1.8;
}

.title-box .site-title{ 
	font-family:cursive; 
	font-weight: normal;
	color:#ffffff; 
	display:inline-block; 
	margin:0; 
	letter-spacing: 0;
	margin-top: 8px;
}

/*
 * navigation
 */
.navbar-default{ 
	background-color: transparent;
}
.navbar-default .navbar-nav{
	margin: 0px;	
}
.navbar-default .navbar-nav > li:first-child{
	border-left: 1px solid #f3f3f3;
}
.navbar-default .navbar-nav > li{
	border-right: 1px solid #f3f3f3;
}
@media ( max-width : 768px ){
	.navbar-collapse {
		padding-top: 20px;
	}
	.navbar-default .navbar-nav{
		background-color: #f3f3f3;
		margin-bottom: 20px;
	}
	.navbar-default .navbar-nav > li:first-child,
	.navbar-default .navbar-nav > li{
		border: none;
	}
	.navbar-default .navbar-nav > li > a{
		padding: 10px 15px;
	}
	.navbar-toggle{
		margin-right: 50%;
		transform: translateX(50%);
	}
	    
}
.navbar-default .navbar-nav > li > a{
	padding: 30px 15px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color:#242424;	
	-webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}
.navbar-default .navbar-nav > .active > a{
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	border: none !important;
}
.navbar-default .navbar-nav > li > a .fa{
	margin-left:5px;
	display: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .dropdown.active > a,
.dropdown-menu > .active > a, 
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
	background-color: #ffffff;	outline: none;
}
.dropdown-menu{
	background-color: #ffffff;border-radius: 4px;
	-webkit-transition: all 10s ease-in-out;
    transition: all 10s ease-in-out;
	min-width: 250px;padding: 0;
}
.dropdown-menu li{	position: relative; }
.dropdown-menu li a{ font-size: 18px;padding-top:7px;padding-bottom:7px;}
.dropdown-submenu li:hover > .dropdown-menu { 	display:block; }
.navbar-collapse{border: none;	width:100%;}
.dropdown > .dropdown-submenu.open > .dropdown-menu {
	display: block;
	-webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}
@media only screen and ( min-width: 992px ){
	.dropdown-menu > .dropdown-submenu > .dropdown-menu {
	    left: 100% !important;
	    margin-top: -43px;
	    margin-left: 0;
	}
	.dropdown-submenu .caret{transform: rotate(-90deg);}
}
@media only screen and ( max-width:768px ){
	.rdn-top-header .title-box,
	.rdn-top-header .rdn-header-social{
		text-align: center;
	}
	.navbar-default .navbar-nav > li > a{
		padding: 12px 15px;
	}
	.dropdown-menu > .dropdown-submenu > .dropdown-menu {
	    margin-left: 10px;
	}	
}

/* mega menu */
.business-mega-menu .business-mm-col {
	text-align: center;
	vertical-align: top;
	display: table-cell;
	position: relative;
	padding: 5px;
}
.business-mega-menu .business-mm-col > a {
	display: none;
}
.business-mega-menu .mm-heading-wrapper{
	display: block;
	padding: 3px 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.navbar .business-mm-heading > span {
	text-transform: uppercase;
	padding: 7px 10px 5px 10px;
	margin: 0 5px;
}
.navbar_area,
.navbar .business-mega-menu{
	position: static;
}
.navbar .business-mega-menu > .dropdown-menu {
	margin: auto;
	left: 0;
	right: 0;
	margin-top: -5px;
}
.navbar .business-mega-menu > .dropdown-menu li:first-child{
	margin: 0;
}
.dropdown-menu > .active > a, 
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
	color:#ffffff;
}


/* 6.1 Links css ======================= */
a{ 
	display:inline-block; 
	word-break: break-all;
}

a:hover,
a:focus,
a:active {

}

a, 
a:hover { 
	text-decoration:none; 
}

a:hover,
a:active {
	outline: 0;
}

a:focus {
	outline: thin dotted;
}

/* 6.2 Menus css ======================= */



/* 7.0 Accessibility css ======================= */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}



/* 13.0 Multisites css ======================= */
.widecolumn {
	margin-bottom: 3.5em;
	padding: 0 7.6923%;
}

.widecolumn .mu_register {
	width: auto;
}

.widecolumn .mu_register .mu_alert {
	background: transparent;
	border-color: #E0E0E0;
	color: inherit;
	margin-bottom: 3.5em;
	padding: 1.75em;
}

.widecolumn form,
.widecolumn .mu_register form {
	margin-top: 0;
}

.widecolumn h2 {
	font-size: 23px;
	font-weight: 900;
	line-height: 1.2173913043;
	margin-bottom: 1.2173913043em;
}

.widecolumn p {
	margin: 1.75em 0;
}

.widecolumn p + h2 {
	margin-top: 2.4347826087em;
}

.widecolumn label,
.widecolumn .mu_register label {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	text-transform: uppercase;
}

.widecolumn .mu_register label {
	margin: 2.1538461538em 0.7692307692em 0.5384615385em 0;
}

.widecolumn .mu_register label strong {
	font-weight: 400;
}

.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
	font-size: 16px;
	width: 100%;
}

.widecolumn .mu_register #blogname {
	margin: 0;
}

.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
	margin: 0 0 0.375em;
}

.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
	font-size: 16px;
	margin: 0;
	width: auto;
}

.widecolumn .mu_register .prefix_address,
.widecolumn .mu_register .suffix_address {
	font-size: inherit;
}

.widecolumn .mu_register > :last-child,
.widecolumn form > :last-child {
	margin-bottom: 0;
}


/* 8.0 Alignments css ======================= */
.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}


/* 10.0 Widgets css ======================= */
.widget{ 
	background-color: #ffffff;
	margin-bottom: 30px;
}
.widget ul, .widget ol { 
	list-style:none; 
}

.widget .widget-title{
	font-size:20px;
}

.widget .widget-title:after{ 
	/* content:'';  */
	display:table; 
	margin:6px 0; 
	width:90px; 
	height:2px;
}
.widget > :last-child, 
.widget .widget-title:empty{ 
	margin-bottom: 0; 
}

.widget ul, .widget ol{ 
	margin:0; 
}

.widget ul  li{ 
	padding:3px 0;
}

.widget ul  li > ul, .widget ol  li > ol{ 
	margin-left:20px;
}

.widget li:before{ 
	content:"\f192"; 
	font-family:'FontAwesome'; 
	display:inline-block; 
	font-size:16px; 
	margin-right:5px; 
}

.widget li a{ 
	color: #333333;
}

.widget_search form label{ 
	margin:0;
}

.widget_search .screen-reader-text{ 
	display:none; 
}

.widget_search .search-submit:before{ 
	font-family:'FontAwesome'; 
	content:"\f002"; 
	line-height: 35px; 
	color:#ffffff; 
}

.widget.widget_calendar table { 
	margin: 0; 
}

.widget_calendar td,
.widget_calendar th {	
	line-height: 2.5625; 
	padding: 0; 
	text-align: center; 
}

.widget_calendar td{
	color: #333333;
}

.widget_calendar caption {
	font-weight: 900;
	text-align:center;
	font-size:18px;
	color:#ffffff;
}

.widget_calendar tbody a {
	background-color: #878788;
	color: #fff;
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	color: #fff;
}

.tagcloud a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	margin: 0 0.1875em 0.4375em 0;
	padding: 0.5625em 0.4375em 0.5em;
	background-color:#f3f3f3;
}

.tagcloud a:hover, .tagcloud a:focus {
	color: #ffffff;
}

.sidebar-service .widget{
	background-color:transparent;
	border:none;
}

.sidebar-service div[class*="widget_wlsbusiness_r_service"]{
}

/* 11.0 content css ======================= */
.rdn-main-content{
	padding: 0;
}
.rdn-main-content .container .row .col-md-8:first-child,
.rdn-main-content .container .row .col-md-4:nth-child(2){
	padding-top: 40px;
}


/* 11.1 header css ======================= */
#rdn-wrapper{
	margin:0 auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
#rdn-top-header{
	padding: 8px 0;
	position: relative;
}
.rdn-header-contact{
	margin: 5px 0 0 0;
	padding: 0px;
}
.rdn-header-contact li{
	display:inline-block;
}
.rdn-header-contact li a{
	color:#ffffff;
	font-size:15px;
	font-family:Open Sans;
}
.rdn-header-contact li:last-child  a{
	margin:0 0 0 15px;
}
.rdn-header-contact li  a i{
	margin:0 8px 0 0;
}

.header-box-social{
	
}

.rdn-header-social{
	float: right;
	margin: 2.5%;
	padding: 0px;
}
.rdn-header-social li{
	transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 0;
    border-radius: 0px 0 0px 0;
}
.rdn-header-social li.register{
	margin-right: 20px;
}
.rdn-header-social li.login a,
.rdn-header-social li.register a{
	text-decoration: underline;
}
.rdn-header-social li a{
	color: #ffffff;
    width: 31px;
    padding: 2px;
}
}
.rdn-header-social li i{
	font-size:20px;
}

/* 11.2 post and pages css ======================= */
.post{
	border: 1px solid #F5F5F5;
	margin-bottom: 50px;
	background-color: #ffffff;
	padding: 20px;
	line-height: 1.8;
}

.post-thumbnail{
	display:block;
}

.rdn-featured-image{
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
	position: relative;
}
.rdn-featured-image-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 30;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	top:0;
	transition: all 1.6s ease 0s;
	-webkit-transition: all 1.6s ease 0s;
	-moz-transition: all 1.6s ease 0s;
	-ms-transition: all 1.6s ease 0s;
}
.rdn-featured-image:hover .rdn-featured-image-overlay{
	opacity: 1;
}
.rdn-featured-image-overlay-inner{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.rdn-featured-image-overlay-inner a{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #00b8ed;
	margin: 0 auto;
	padding: 10px;
}
.rdn-featured-image-overlay-inner a .fa{
	color: #ffffff;
	font-size: 18px;
}

.post-thumbnail img{
	transition: all 1.6s ease 0s;
	-webkit-transition: all 1.6s ease 0s;
	-moz-transition: all 1.6s ease 0s;
	-ms-transition: all 1.6s ease 0s;
}

.post-thumbnail img:hover{
	opacity: 0.8;
	transform: scale(1.05, 1.05);
}

.entry-title,
.entry-title a{
	color:#242424;
	line-height: 1.5;
	font-weight: 700;
	word-wrap:break-word;
	display: inline;
}

.entry-title a:hover,
.entry-title a:focus{
	outline: none;
}

.entry-meta{
	background-color: #fbfbfb;
	border: 1px solid #f9f9f9;
	margin: 10px 0;	
    padding: 5px 10px;
}

.author::before, .entry-date::before, .tag-links::before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 0px;
    padding-right: 10px;
    position: relative;
    text-decoration: inherit;
    top: 2px;
    vertical-align: text-bottom;
}

.author::before {
    content: "";
}

.entry-date::before {
    content: "";
}

.tag-links::before {
    content: "";
}

.entry-meta span{
	margin-right:10px;
}

.entry-meta span:last-child{
	margin:0;
}

.entry-meta span a{
	color:#242424;
}

.entry-footer{
	margin-bottom:40px;
}

.share-label,
.rdn-share-social{
	margin:0;
	display:inline-block;
	margin-right:20px;
	vertical-align: middle;
}

.rdn-share-social li{
	display:inline-block;
	margin-right:5px;
}

.rdn-share-social li i{
	font-family:FontAwesome;
	font-size:30px;
	color:#ffffff;
	width:50px;
	height:50px;
	border-radius:50%;
	padding: 12px;
	text-align: center;
}

.rdn-share-social  .fa-facebook{
	background-color:#325c94;
}

.rdn-share-social  .fa-twitter{
	background-color:#00abdc;
}

.rdn-share-social  .fa-linkedin{
	background-color:#0073b2;
}

.rdn-share-social  .fa-google-plus{
	background-color:#d05800;
}

.blog-author{
	padding:15px 0;
	margin-bottom: 30px;
    background-color: #fbfbfb;
}

.blog-author .pull-left{
	padding-left: 10px;
}

.author-title{
	color:#f3a540;
}

.blog-author .media-body :last-child{
	margin:0;
}


.post-style-header{
	padding:30px;
}

.entry-style-header,
.entry-style-header a{
	color:#ffffff;
}

.entry-style-header a:hover,
.entry-style-header a:focus{
	text-decoration:underline;
	color:#ffffff;
}

.entry-style-meta span{
	margin-right:30px;
}

.entry-style-meta span,
.entry-style-meta span a{
	color:#ffffff;
	font-size:20px;
}

.entry-style-content{
	padding:25px;
}


.entry-style-date{
	margin-left: -66px;
}

.entry-style-date span{
	font-size:20px;
	color:#ffffff;
	display:inline-block;
}

.entry-style-date span strong{
	background-color:#ffffff;
	padding:3px 10px;
	border-radius:50%;
	display:inline-block;
	width:80px;
	height:80px;
	margin-right:10px;
	font-size: 40px;
	vertical-align: middle;
	text-align:center;
}


.blog-parallax-area{
	background-color:#dafc7f;
	padding:30px;
	min-height:250px;
	margin-bottom:20px;
}

.entry-parallax-date{
	font-size:20px;
	color:#ffffff;
}

article.page .entry-header{
	margin-bottom:30px;
}

/* element */
.page-links
{
	margin-bottom:20px;
}
.page-links-title{
	margin-right:20px;
}

.page-links a{
	padding:5px 10px;
	margin-right:5px;
}
.page-links > a:hover{
	color:#ffffff;
}

/* 11.4 comments css ======================= */
.comments-area{
	margin-top:50px;
	border:1px solid #fbfbfb;
	padding:20px;
	background-color:#fbfbfb26;
}

.comment-list{
	margin:50px 0;
}

.comment-list li{
	list-style:none;
}

.comment-list li.comment .comment-body{
	border-bottom:1px solid #dadada;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
}

.comment-list li ul{
	margin-left:30px;
}

.comment-author,
.comment-metadata{
	width:50%;
	float:left;
}

.comment-awaiting-moderation{
	display:none;
}

.comment-meta:after{
	content:'';
	display:table;
	clear:both;
}

.comment-list li{
	margin-bottom:35px;
}

.comment-meta,
.comment-author,
.comment-body,
.comment-metadata,
.reply{
	margin-bottom:10px;
}

.comment-metadata{
	text-align:right;
}

.edit-link{
	display:block;
	margin-top:10px;
}

.comments-title:after,
.comment-reply-title:after{
	content:'';
	display:block;
	margin-top:10px;
}

.comments-area .comment-author img{
	border-radius:50%;
	margin-right:10px;
}

.comments-area .comment-author .fn{
	margin-right:10px;
}

.reply{
	text-align:right;
}

.reply:before{
	content:'\f112';
	display:inline-block;
	font-family:FontAwesome;
	margin-right:10px;
}




/* 11.5 sidebar css ======================= */
.secondary{
	box-shadow: 1px 0 0 0 #f1f1f1 inset;
}
.widget .rdn-home-news-area{
	background-color:transparent;
	padding:10px 0;
	margin-bottom:0px;
}

.widget .rdn-home-news-area:last-child{
	border-bottom:0;
}

.widget .home-news-image {
	width:55px;
	height:55px;
}

.widget .rdn-home-news-area{ border-bottom:1px solid #E0E0E0; }

.media{
	margin:0;
}

.widget .home-news-body {
    width: calc(100% - 64px);
    display: inline-block;
	padding:0;
}

.widget .news-title{
	margin-bottom:5px;
	font-size: 14px;
}

.widget .home-news-image{
	margin-right:4px;
}

.widget.contact-widget .fa{
	margin-right:10px;
}


/* 11.6 Footer css ======================= */
#rdn-footer,
#rdn-footer .widget_text,
#rdn-footer table,
#rdn-footer th,
#rdn-footer td {
    color: rgba(255, 255, 255, 0.7);
}
.rdn-footer-top{
	padding:50px 0;
}
.rdn-footer-bottom{
	padding:50px 0;
}
#rdn-footer .widget{
	background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}
#rdn-footer .widget_text{
	color: rgba(255, 255, 255, 0.7);
}
#rdn-footer .widget-title,
#rdn-footer .widget_calendar td{
	color: #ffffff;
}
#rdn-footer .widget li a{
	display: inline;
}
#rdn-footer .widget li a,
#rdn-footer .widget_calendar td,
#rdn-footer .widget .news-title a,
#rdn-footer .widget a{
	color: rgba(255, 255, 255, 0.9);
}
#rdn-footer .widget .rdn-home-news-area{
	border:none;
	box-shadow:none;
	background:none;
	border-bottom:1px solid #5F5F5F;
}
#rdn-footer .widget .rdn-home-news-area .news-title{
	word-wrap:break-word;
}
#rdn-footer .widget .rdn-home-news-area:last-child{
	border-bottom:0;
}
#rdn-footer .widget .tagcloud a:hover,
#rdn-footer .widget .tagcloud a:focus{
	color: #ffffff;
}
#rdn-footer table{
	border-collapse: collapse;
}
#rdn-footer table,
#rdn-footer th,
#rdn-footer td {
	border: 1px solid #ffffff;
}
.rdn-footer-social{ margin-bottom: 40px; }
.footer-social-title{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 15px 0;
    text-align: center;
}
.footer-social-icons{
	margin:0;
	text-align:center;
}
.footer-social-icons li{
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	display:inline-block;
	width:45px;
	height:45px;
	padding:10px;
	margin:3px;
}
.footer-social-icons li i{
	font-size:26px;
}
.footer-social-icons li:hover i{ color:#ffffff; }
.rdn-copyright p{
	margin:0;
	color:#ffffff;
}
.rdn-footer-menu{
	margin:0;
	text-align: right;
}
.rdn-footer-menu ul{
	margin:0;
}
.rdn-footer-menu li{
	display:inline-block;
	padding:0 15px 0 0;
}
.rdn-footer-menu li:last-child{
	padding:0;
}
.rdn-footer-menu li a{
	color: rgba(255, 255, 255, 0.9);
}
#rdn-footer .widget td,
#rdn-footer .widget th{
	background-color: transparent;
}
.rdn_page_scroll {
    padding: 3px;
    display: none;
    height: 50px;
    opacity: 1;
    position: fixed;
    right: 25px;
    text-align: center;
    width: 50px;
    overflow: hidden;
    bottom: 30px;
    line-height: 50px;
    z-index: 9999;
}
.rdn_page_scroll i {
    color: #ffffff;
}
.rdn_page_scroll i {
    font-size: 28px;
}



/* 11.7 Home Page Slider ======================= */
.carousel-control{
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	font-size:40px;
	opacity:1;
	width:56px;
	height:59px;
	top: calc( 50% - 35px);
	text-shadow:none;
}
.carousel-control.left,
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	left:3%;
}
.carousel-control.right{
	right:3%;
}
.carousel-control.left:hover{
	left:4%;
}
.carousel-control.right:hover{
	right:4%;
}
.carousel-control.left .fa,
.carousel-control.right .fa{
	font-size: 92px;
}
.carousel-caption{
	bottom: 50%;
    transform: translateY(50%);
    border-radius: 6px;
}
.carousel-caption.text-left{
	text-align: left;
}
.carousel-caption.text-center{
	text-align: center;
}
.carousel-caption.text-right{
	text-align: right;
}
.carousel-caption.no-background{
	background:none;
	padding:0;
}
.carousel-caption.caption-title .rdn-slider-title{
	text-transform: uppercase;
	text-shadow: 0px 0px 20px #00000075;
}
.carousel-caption.caption-none{
	display: none;
}
.rdn-slider-title{
	display: inline-block;
    min-width: 220px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    text-shadow: none;
	color: #ffffff;
	text-shadow: 0px 0px 4px #00000085;
}
.carousel-caption p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    display: block;
    min-width: 320px;
    word-wrap: break-word;
	text-shadow: none;
}
.carousel-indicators li{
	border:2px solid #ffffff;
	box-shadow: 1px 1px 1px 0px #666;
}
.carousel-indicators li,
.carousel-indicators .active{
	margin-right:5px;
	width:15px;
	height:15px;
}
.carousel-indicators .active{
	width:17px;
	height:17px;
}
.rdn-slider-btn:before{
	content:'';
	clear:both;
}
.rdn-slider-btn{
	color:#ffffff;
	text-shadow:none;
	padding:14px 49px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	border-radius: 4px;
	display: inline-block;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
}
.carousel-caption .rdn-slider-btn:hover,
.carousel-caption .rdn-slider-btn:focus{
	color:#ffffff;
}

/*--------Slider Fade Effect-----------*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* 11.8 Home Page Callout ======================= */
#rdn-callout{
	background-color: #242424;
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color:#ffffff;
}
.rdn-callout-inner{
	padding: 60px 0;
	background-color: rgba(0, 0, 0, 0.6);
}
.callout-inner-no-bgcolor{
	background: transparent;
}
.rdn-callout-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
}
#rdn-callout p{
	font-size: 18px;
	margin: 0 0 20px;
}
.rdn-callout-btn{
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	margin-top: 9px;
	border: 1px solid #ffffff;
	color:#ffffff;
	font-family: 'Open Sans';
	padding:5px 20px;
	display:inline-block;
	font-size: 18px;
	border-radius: 2px;
}
.rdn-callout-btn:hover{
	background-color:#ffffff;
}
.rdn-callout-btn:focus{
	color:#ffffff;
}



/* 11.9 Home Page Service ======================= */
#service .rdn-section-image{

}

.rdn-service-area{
	background-color: #fbfbfb;
	padding:20px;
	transition: transform .6s .2s cubic-bezier(.19,1,.22,1);    
	-webkit-transition: -webkit-transform .6s .2s cubic-bezier(.19,1,.22,1);
}
.rdn-section-image{
	width:100%;
	min-height:10px;
}
.rdn-section-image-caption{
	color:#ffffff;
	text-shadow:3px 3px 3px #494949;
	font-family: 'Open Sans';
	font-weight:700;
	margin:3% auto;
	width: 60%;
	display: block;
	position: relative;
}
.rdn-section-body{
	padding: 90px 0;
}
.section-title{
	color:#242424;
	font-family: 'Open Sans';
	text-align:center;
	visibility:visible;
	font-weight: 600;
	margin-bottom: 0;
}
.section-desc{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	margin:0;
	visibility:visible;
	font-size:18px;
	font-style: normal;
    font-weight: 400;
}
.section-desc:before{
	content:'';
	width:90px;
	height:2px;
	display: block;
	margin: 10px auto;
}
.section-desc:after{
	content:'';
	display: block;
	margin-bottom:25px;
}

.rdn-service-icon-area{
	padding-top:0px;
	padding-bottom:5px;
	text-align:center;
}
.rdn-service-image-area{
	margin-bottom: 10px;
}
.rdn-service-icon{
	width: 100px;
    height: 100px;
	margin: 5px;
    border: 1px solid;
    padding: 14px;
    text-align: center;
    border-radius: 50%;
	margin-bottom: 10px;
}
.rdn-service-icon i{
	font-size: 43px;
	color:#ffffff;
	line-height: 1.6;
}
.rdn-service-title{
	font-size: 18px;
	margin-bottom: 10px;
	display: inline-block;
}
.rdn-service-title,
.rdn-service-title a{
	font-family: 'Open Sans';
	font-weight: 400;
	color: #242424;
}
.rdn-service-area{
	border-radius: 3px;
}
.rdn-service-area,
.rdn-service-area p{
	margin-bottom: 5px;
}
.rdn-service-btn{
	font-family: 'Open Sans';
	color: #ffffff;
	font-size:14px;
	line-height: 1.6;
	margin-bottom: 2px;
	text-decoration: none;
	background-position: 0 -0.15em;
	padding:5px 12px;
	margin-top: 5px;
	-webkit-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
}
.rdn-service-btn:hover,
.rdn-service-btn:focus{
	color: #ffffff;
}
.rdn-service-area:hover{
	-webkit-transform: scale(1.05,1.05);    
	transform: scale(1.05,1.05);    
}


/* 11.10 Home Page Shop ======================= */
.product_item{
	margin-bottom: 30px;
	border-radius: 4px;
}
.product-item-area{
	background-color: #ffffff;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
	transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
}
.product-item-area:hover {
	transform: translateY(-4px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.product-image-area{
	margin-bottom: 20px;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}
.product-image-area img{
	max-width: inherit;
	max-width: 100%;
}
.product-category .category{
	text-align: center;
}
.product-category .category a{
	font-size: 18px;
}
.product-content{
	padding: 15px;
}
.product-content:after{
	clear: both;
}
.product-item-area .price{
	text-align: center;
}

/* 11.10 Home Page News ======================= */
#news .rdn-section-image{
}
.rdn-home-news-area{
	background-color: #ffffff;
	padding:0;
	margin-bottom: 20px;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
}
.home-news-image{
	overflow: hidden;
	display: inline-block;
	padding-right: 0;
	position: relative;
}
.home-news-image a{
	display:block;
	height:100%
}
.home-news-image img{
	width:100%;
	height:100%;
	transition: all 1.5s ease-out 0s;
	-webkit-transition: all 1.5s ease-out 0s;
	-moz-transition: all 1.5s ease-out 0s;
	-ms-transition: all 1.5s ease-out 0s;
}
.home-news-image:hover img{
	transform: scale( 1.1 , 1.1 );
}
.home-news-image:hover .rdn-featured-image-overlay{
	opacity: 1;
}
.home-news-body{
	padding:40px 20px;
}
.news-title{
	margin-bottom:7px;
}
.news-title,
.news-title a{
	color:#242424;
	line-height: 1.3;
}
.home-news-date{
	color:#BBBBBB;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:5px;
	display:inline-block;
}
.home-news-content{
	font-family: 'Open Sans', sans-serif;
}
.home-news-content p:last-child{
	margin-bottom: 0;
	text-align: center;
}
.more-link{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding:4px 15px;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	background-image: none;
}
.more-link:hover,
.more-link:focus{
	padding:4px 15px;
	color:#ffffff;
}
.media.rdn-home-news-area:hover{
	background-color:#ffffff;
}



/* 11.11 Home Page Portfolio ======================= */
#portfolio .rdn-section-image{
	background:url('../images/section/portfolio.jpg') fixed center no-repeat;
}

.rdn-protfolio-area{
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	cursor:pointer;
	border: 3px solid #ffffff;
}
.rdn-protfolio-area.project-no-border{
	border: none;
}

.portfolio-overlay{
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	width: 100%;
	height:100%;
	position: absolute;
	z-index:10;
}

.portfolio-overlay-area{
	position: absolute;
    top: 50%;
    padding: 8px;
    width: 100%;
    transform: translateY(-50%);
}

.rdn-protfolio-area.project-from-bottom .portfolio-overlay{
	top: 100%;
}
.rdn-protfolio-area.project-from-top .portfolio-overlay{
	bottom: 100%;
}
.rdn-protfolio-area.project-from-right .portfolio-overlay{
	left: 100%;
	top: 0;
}
.rdn-protfolio-area.project-from-left .portfolio-overlay{
	right: 100%;
	top: 0;
}

.rdn-protfolio-area:hover .portfolio-overlay{
	display:block;
}
.project-from-bottom:hover .portfolio-overlay{
	top: 0;
}
.project-from-top:hover .portfolio-overlay{
	bottom: 0;
}
.project-from-right:hover .portfolio-overlay{
	left: 0;
}
.project-from-left:hover .portfolio-overlay{
	right: 0;
}

.rdn-protfolio-area img{
	transition: all 1.5s ease-out 0s;
	-webkit-transition: all 1.5s ease-out 0s;
	-moz-transition: all 1.5s ease-out 0s;
}
.rdn-protfolio-area:hover img{
	transform: scale( 1.5 , 1.5 );
}
.portfolio-title{
	margin-bottom: 15px;
	font-weight: 600px;
}
.portfolio-title,
.portfolio-title a{
	color:#ffffff;
	font-weight: 600;
}
.portfolio_title:hover h4{
	color:#ffffff;
}
.portfolio-content{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
}
.portfolio-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline-block;
	border: 1px solid #ffffff;
	padding: 4px 8px;
}
.portfolio-link,
.portfolio-link:hover,
.portfolio-link:focus{
	color:#ffffff;
}
.portfolio-link:hover,
.portfolio-link:focus{
	border: 1px solid #000;
	background-color: #000;
}

.rdn-portfolio-tabs{
	margin:0 0 40px 0;
	display: inline-block;
}
.rdn-portfolio-tabs li{
	display: inline-block;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f9f9;
	padding: 4px 20px;
	margin-right: 10px;
}

.rdn-portfolio-tabs .active a,
.rdn-portfolio-tabs .active a:hover,
.rdn-portfolio-tabs .active a:focus{
	color:#ffffff;
	outline:none;
	text-decoration:none;
}

.rdn-protfolio-area{
		margin-bottom:30px;
}



/* 11.12 Home Page Testimonial ======================= */
#testimonial                 {  }
.overlay                     {  padding: 90px 0;  }
.overlay.dark                {  background-color:  rgba(0,0,0,0.5);  }
#testimonial .section-title  {  color: #ffffff;  }
#testimonial .section-desc   {  color: #ffffff;  }
.rdn-testimonial-area{	padding: 20px; margin-bottom: 20px; background-color: #ffffff; }
.rdn-testimonial-area:hover .rdn-testimonial-image img{
	transform: scale(1.05, 1.05);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),  0 3px 1px -2px rgba(0, 0, 0, 0.2),  0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.rdn-testimonial-image img{
	margin-bottom: 20px;
	transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
}
.testimonial-content{
	margin: 5px 0;
	font-size: 16px;
	color: #525252;
}
.testimonial-title{
    font-size: 18px;
    color: #000;
    display: block;
    text-align: center;
	margin: 0px 0 0 10px;
}
.testimonial-more{
	font-family: 'Open Sans', Sans Serif;
	line-height: 1.2;
	display: block;
	margin: 10px 0 0 5px;
}

.carousel-control-testi {
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    width: 35px;
    height: 35px;
    position: relative;
    padding: 5px;
    margin: 30px 0 0;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    color: #ffffff;
	border-radius: 5px;
}
.carousel-control-testi.left .fa,
.carousel-control-testi.right .fa{
	font-size: 23px;
}
.carousel-control-testi.left:hover,
.carousel-control-testi.left:focus,
.carousel-control-testi.right:hover,
.carousel-control-testi.right:focus{
	color: #ffffff;
}

/* 11.13 Home Page Client ======================= */
#client{}
#client .overlay{
	padding: 90px 0;
}
#client .item .col-md-3{
	text-align:center;
}
.client{
	height:inherit;
	background-color:#ffffff;
	padding:5px;
}
.clinet_navigation{
	position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-client {
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    width: 35px;
    height: 35px;
    position: relative;
    padding: 5px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    color: #ffffff;
	text-align: center;
}
.carousel-control-client.left .fa,
.carousel-control-client.right .fa{
	font-size: 23px;
}
.carousel-control-client.left{
	float: left;
}
.carousel-control-client.right{
	float: right;
}
.carousel-control-client.left:hover,
.carousel-control-client.left:focus,
.carousel-control-client.right:hover,
.carousel-control-client.right:focus{
	color: #ffffff;
}

/* 11.14 Home Team  ======================= */
#team .rdn-section-image{
}
#team .col-md-4{ margin-bottom:20px; }
#team .col-md-4:last-child{ margin-bottom:0px; }
.rdn-team-area{
	background-color:#ffffff;
    padding: 0 0 25px;
	border:1px solid #f3f3f3;
	overflow: hidden;
}
.rdn-team-area .rdn-page-social{
	margin-bottom:30px;
	text-align:center;
}
.team-thumbnail{
	margin-bottom: 20px;
	padding: 0 ;
}
.rdn-team-area > .team-thumbnail > a{
	-webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.rdn-team-area:hover > .team-thumbnail > a,
.rdn-team-area:focus > .team-thumbnail > a {
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
}
.team-title{
	display:block;
	text-align:center;
}
.team-title h3{
	font-size: 24px;
	font-style: normal;
    line-height: 33px;
	font-weight: 600;
	margin-bottom: 5px;
}
.team-degignation{
	text-align: center;
    margin-bottom: 8px;
    color: #717171;
    font-size: 14px;
    font-weight: 600;
}
.rdn-team-area .entry-content{
	text-align: center;
}
.team-more{
	text-align:center;
}
.team-more-link{
	padding:8px 15px;
	border-radius:4px;
}
.team-more-link,
.team-more-link:hover,
.team-more-link:focus{
	color:#ffffff;
}

/* 11.15 Home Page Contact ======================= */
#contact{
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#contact{
    padding: 90px 0;
}

.contact_section_area{
	background-color: #ffffff40;
	padding: 20px;
}
.contact-info-section{
	padding: 80px;
}
.contact-info-section-area ul{
	margin: 20px 0;
	list-style: none;
}
.contact-info-section-area ul li{
	margin-bottom: 20px;
	font-size: 18px;
	color: #ffffff;
}
.contact-info-section-area ul li i{
	margin-right: 10px;
}

.contact-form-area{
	padding: 10%;
	color: #ffffff;
}
.contact-section-title{
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
}
.contact-section-desc{
	font-size: 16px;
}

#contact .contact_section_heading,
#contact form > p > label{

}

.wpcf7-textarea,
#contact .wpcf7-textarea{
	height: 100px;
}
.contact-form-area .wpcf7-form p:last-child{
	margin-bottom: 0;
}
.contact-form-area .wpcf7-submit{
	width: 100%;
    color: #ffffff;
    box-shadow: 0px 8px 8px -6px #000;
}

/* contact page css */
.rdn-contact-template{}
.contactpage-wrapper{
	background-color:#f3f3f3;
	margin-bottom: 50px;
	padding: 6% 3%;
}
.contactpage-wrapper .wpcf7-text,
.contactpage-wrapper .wpcf7-email,
.contactpage-wrapper .wpcf7-number,
.contactpage-wrapper .wpcf7-textarea{
	background-color: #ffffff;
}
.contactpage-info-wrapper ul{
	margin: 20px 0;
	list-style: none;
}
.contactpage-info-wrapper ul li{
	margin-bottom: 20px;
	font-size: 16px;
}
.contactpage-info-wrapper ul li i{
	margin-right: 10px;
}

.contact_section_heading{
	margin-bottom: 20px;
    font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}
.cont_label {
    color: #d5d5d5;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    min-width: 150px;
	text-align: left;
}
.cont_span{
	color:#2c2c2c;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}
form label{
	display : block;
}
.rdn-contact-area{
	padding:60px 0;
}
.contact-page-title{
	text-align:center;
	margin-bottom:70px;
	font-weight: 600;
}
.rdn-page-social{
	margin:0;
}
.contact-page-info{
	margin-bottom:45px;
}
.rdn-page-social{
	margin: 0px;
	padding: 0px;
}
.rdn-page-social li{
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	display:inline-block;
	background-color:#000;
	border:1px solid #ababab;
	width: 40px;
    height: 40px;
	text-align:center;
	padding:5px;
	margin: 15px 15px 0 0;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rdn-page-social li a{
	color:#ffffff;
}
.rdn-page-social li i{
	font-size:20px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.home_contact_info{
	margin:0 0 20px 0;
}

#googlemap{}
#googlemap .rdn-google-map{}
#googlemap .rdn-google-map iframe{ margin: 0; padding: 0; border: none; }

.contactpage-bottom{
	border-top: 1px solid #f3f3f3;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: 30px;
}

/* 11.16 Sub header css ======================= */
.rdn-sub-header{
	background-attachment:fixed;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.rdn-sub-header ul li:first-child:before{ display:none; }
.rdn-sub-header-inner{
	padding: 108px 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.rdn-sub-header ul{
	margin:0;
	text-align:center;
}

.rdn-sub-header ul li{
	display:inline-block;
	font-size:18px;
	font-weight: 500;
}

.rdn-sub-header li{
	color:#ffffff;
}

.rdn-sub-header ul li:before{
	content:'/';
	display:inline-block;
	font-size:18px;
	margin:0 5px;
}

.rdn-page-seperate{
	padding-bottom:5px;
	background: url("images/shadow.png") no-repeat center bottom;
	margin: 0 0 0px;
}


/* 11.17 about css ======================= */
.rdn-about{
	padding:42px 0;
	background-color:#ffffff;
}

.about-image-area img{
	border:5px solid #fff;
	box-shadow:0 0 2px #ccc;
}

.rdn-about h1{
	margin-bottom:20px;
	font-weight: 600;
    line-height: 45px;
}

/* 11.18 pagination css ================== */
.pagination,.nav-links ul{
	display:block;
	text-align:center;
	margin:0;
	min-height:1px;
}

.pagination  li  a,
.pagination  li  span,
.nav-links  li  a,
.nav-links  li  span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #337ab7;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.pagination li{
	margin-right: 5px;
	display: inline-block;
}

.pagination li:first-child a{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

.pagination li:last-child a{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.pagination li:last-child{
	margin-right:0;
}

.pagination .current a,
.pagination li:hover a,
.pagination li:focus a,
.nav-links li span.current,
.nav-links li:hover span.current,
.nav-links li:focus span.current{
	color:#ffffff;
}


/* Other navigation */
.navigation.post-navigation{ margin:20px 0 0 0; }
.nav-previous,.nav-next{ width:50%; float:left; font-size:18px; }
.nav-previous .post-title,.nav-next .post-title{ display:none; }
.nav-next{ text-align:right; }
.nav-previous a:before{ content:'<< '; }
.nav-next a:after{ content:' >>'; }

/* 11.19 contact page css ================== */
.contact_time .cont_label{
	font-size:18px;
}
.contact_time p{
	margin-bottom:0;
}

/* 11.20 pricing table css ================== */

.pricing-group{
	text-align:center;
}
.pricing_wrapper{
	background-color:#ffffff;
	border:1px solid #f5f5f5;
	position:relative;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	overflow:hidden;

	border-style: solid;
    border-color: #dad6d6;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
.pricing_header,
.pricing_footer{
	padding:10px;
}
.pricing_wrapper .pricing_header{
	background-color:#ffffff;
}
.pricing_wrapper.active .pricing_header,
.pricing_wrapper .pricing_footer a{
	/* background-color:#6ac525; */
}
.pricing_header h1{
	margin:0;
	text-align:center;
	padding: 25px 0 0;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
}
.pricing_ribben{
	background-color: #f5af2f;
    text-align: center;
    width: 150px;
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
}
.pricing_price .price_content{
	text-align:center;
}
.pricing_price .price_content:first-child {
    font-size: 14px;
}
.pricing_price .price_content:last-child {
    color: #181818;
    font-size: 50px;
    font-weight: 800;
}
.pricing_wrapper.active{
	margin-top:0;
}
.pricing_wrapper.active:hover,
.pricing_wrapper.active:focus{
	box-shadow: 0 0 3px #ccc;
}
.pricing_wrapper.active .pricing_footer a:hover,
.pricing_wrapper.active .pricing_footer a:focus{
	background: none;
}
.pricing_body ul{
	margin:0;
	padding:0px;
	list-style:none;
}
.pricing_body li {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
    line-height: 1.3;
}
.pricing_body li:nth-child(odd){
}
.pricing_body li:nth-child(even){
}
.pricing_body span{
	display: inline-block;
	line-height: initial;
}
.pricing_body .fa{
	font-size: 16px;
    background-color: transparent;
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 20px;
}
.pricing_body .fa.red{
	color:red;
}
.pricing_body .fa.green{
	color:green;
}
.pricing_body li:last-child{
	border-bottom:0;
}
.pricing_footer{
	padding:20px 0 50px;
	font-family:'Open Sans', sans-serif;
	text-align:center;
}
.pricing_footer a{
	font-size: 15px;
    padding: 17px 8px;
    min-width: 182px;
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
    font-style: normal;
	position: relative;
    text-align: center;
    -webkit-backface-visibility: hidden;
    transition: .3s;
    border: 2px solid;
    line-height: 12px;
    letter-spacing: 1.7px;
    border-radius: 35px;
	border-color: #dad6d6;
}
.pricing_wrapper .pricing_footer a:hover,
.pricing_wrapper .pricing_footer a:focus{
		color: #ffffff;
}
.pricing_footer a,
.pricing_footer a:hover,
.pricing_footer a:focus{
	color:#ffffff;
}
.pricing_footer:empty{
	margin-bottom: 52px;
}


.error-404{}
.error404_title{ font-size: 150px; font-weight: 800; line-height:1.3; }
.error404_subtitle{ font-size: 30px; }
.error404_desc{ font-size: 20px; }
.error404_btn{ padding: 8px 15px; border-radius: 20px; margin:0 0 30px; }
.error404_btn:hover,
.error404_btn:focus{ color: #ffffff; }



/* 12.0 media css ======================= */
.site .avatar {
	border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
	display: block;
}

embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
	padding: 4px;
    border: 1px solid #f5f5f5;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode a,
.entry-content .wp-playlist a {
	box-shadow: none;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 0.7142857143em 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 0.7142857143em;
}




/* 12.1 caption css ======================= */
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}



/* 12.2 Galleries css ======================= */
.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}



/* 14.0 Media Queries css ======================= */
@media (min-width: 768px){
	.boxed #rdn-wrapper {
		width: 768px;
	}
}
@media (min-width: 992px){
	.boxed #rdn-wrapper {
		width: 970px;
	}
}
@media (min-width: 1200px){
	.boxed #rdn-wrapper {
		width: 1200px;
	}
}


@media (min-width: 767px){
	.navbar .business-mega-menu.open > .dropdown-menu {
		width: 90%;
		display: table;
		padding: 20px 10px;
	}
}
@media (min-width: 1200px){
	.navbar .business-mega-menu.open > .dropdown-menu {
		width: 90%;
		display: table;
		padding: 20px 10px;
	}
}

@media only screen and ( max-width: 1200px ) {
	.pricing_wrapper{
		margin-bottom:40px;
	}
	.pricing-group div[class*="col-"]:last-child .pricing_wrapper{
		margin-bottom:0px;
	}
	#portfolio div[class*="col-"]:last-child .rdn-protfolio-area{
		margin-bottom:0px;
	}

}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

	.carousel-caption{ bottom:50%; }
	.rdn-slider-title{ font-size:26px; }

	.menu-testing-menu-container:after{
		content: '';
		clear: both;
		display: block;
	}
	.dropdown-menu > li{
		margin: 2px 0;
	}
	.dropdown-menu > .active > a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
		color: #ffffff;
		outline: none;
	}
	.carousel-caption p{ font-size:14px; }
	.carousel-indicators{ bottom:0; }
	#rdn-home-news .col-sm-6:last-child .rdn-home-news-area,
	#rdn-portfolio .col-sm-6:last-child .rdn-protfolio-area{ margin-bottom:0; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.menu-testing-menu-container:after{
		content: '';
		clear: both;
		display: block;
	}
	.dropdown-menu > li{
		margin: 2px 0;
	}
	.dropdown-menu > .active > a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
		color: #ffffff;
		outline: none;
	}
	.carousel-caption{ bottom:50%; }
	.rdn-slider-title{ font-size: 28px; margin-bottom: 12px; }
	.carousel-caption p{ font-size:14px; }
	.rdn-slider-btn{  font-size:13px; }
	.carousel-indicators{  bottom:10px; }
	#rdn-home-news .col-md-6:last-child .rdn-home-news-area,
	#rdn-portfolio .col-sm-6:last-child .rdn-protfolio-area{ margin-bottom:0; }
	.contact_section_heading{ margin-top:50px; }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
	.custom-logo-link {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

	h1, .h1 { font-size: 32px; }
	h2, .h2 { font-size: 26px; }
	h3, .h3 { font-size: 20px; }
	h4, .h4 { font-size: 16px; }
	h5, .h5 { font-size: 14px; }
	h6, .h6 { font-size: 12px; }
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 { margin-bottom:18px; }
	.rdn-header-contact{ font-size:14px; }
	.rdn-header-social{ float: inherit; margin-top: 10px; text-align: center; }

	.menu-testing-menu-container:after{
		clear: both;
	}
	.navbar-default .navbar-nav > li{
		margin-bottom: 3px;
	}
	.navbar-default .navbar-nav > li > a .fa{
		margin-left: 5px;
		display: inline-block;
		float: right;
		padding: 3px 10px;
		border-radius: 4px;
		color: #242424 !important;
		font-size: 18px;
	}
	.navbar-default .dropdown-menu.open{
		display: block;
		position: relative;
		float: none;
		border: none;
		box-shadow: none;
	}
	.dropdown-menu > li{
		margin: 2px 0;
	}
	.dropdown-menu > .active > a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
		color: #ffffff;
		outline: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #242424;
	}
	.navbar-default .navbar-nav{
		float: none;
	}
	.navbar-collapse{
		padding-top: 20px;
	}
	.rdn-slider-title{ font-size: 28px; margin-bottom: 10px; }
	.carousel-caption p{ font-size: 13px; }
	.carousel-control{ font-size: 38px; width: 48px; height: 60px; top: calc( 50% - 30px); }
	.rdn-callout-btn{ float:none !important; }
	#rdn-home-news .col-md-6:last-child .rdn-home-news-area,
	#rdn-portfolio .col-sm-6:last-child .rdn-protfolio-area{ margin-bottom:0; }
	#rdn-team  .col-md-4{ margin-bottom:20px; }
	.testimonial-content{ font-size:18px; }
	.client{ width:100%; margin-right:5px; }
	.contact_section_heading{ margin-top:50px; }
	.about-image-area{ margin-bottom:20px; }
	.rdn-footer-menu{ text-align: left; }
	.rdn-copyright{ margin-bottom:20px; }
	.rdn-google-map iframe{ margin-bottom:0; }
	.rdn-footer-top .widget:last-child{ margin-bottom:0; }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {

	h1, .h1 { font-size: 30px; }
	h2, .h2 { font-size: 24px; }
	h3, .h3 { font-size: 18px; }
	h4, .h4 { font-size: 15px; }
	h5, .h5 { font-size: 13px; }
	h6, .h6 { font-size: 11px; }
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 { margin-bottom:15px; }
	.rdn-header-contact{ font-size:12px; }
	.rdn-header-social{ float:none; margin-top:10px; }

	.menu-testing-menu-container:after{
		clear: both;
	}
	.navbar-default .navbar-nav > li{
		margin-bottom: 3px;
	}
	.navbar-default .navbar-nav > li > a .fa{
		margin-left: 5px;
		display: inline-block;
		float: right;
		padding: 3px 10px;
		border-radius: 4px;
		color: #242424 !important;
		font-size: 18px;
	}
	.navbar-default .dropdown-menu.open{
		display: block;
		position: relative;
		float: none;
		border: none;
		box-shadow: none;
	}
	.dropdown-menu > li{
		margin: 2px 0;
	}
	.dropdown-menu > .active > a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
		color: #ffffff;
		outline: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #242424;
	}
	.navbar-default .navbar-nav{
		float: none;
	}
	.navbar-collapse{
		padding-top: 20px;
	}

	.rdn-slider-title{ font-size: 20px; margin-bottom: 5px; }
	.carousel-caption p{ font-size: 12px; margin-bottom: 3px }
	.rdn-slider-btn{ font-size: 12px;  font-size: 12px; }
	.navbar-toggle{ margin:0; }
	.nav.navbar-nav{ margin-top:20px; }
	.carousel-control{ font-size: 32px; width: 42px; height: 50px; top: calc( 50% - 25px); }
	.rdn-callout-btn{ float:none !important; }
	.home-news-image{ display:block; padding-right:0; }
	.home-news-image, .home-news-body{ width:100%; margin-right:0; }
	.home-news-body{ display:block; }
	#rdn-team  .col-md-4{ margin-bottom:40px; }
	.testimonial-content{ font-size:18px; }
	.client{ width:100%; margin-right:5px; }
	.contact_section_heading{ margin-top:50px; }
	.rdn-google-map iframe{ margin-bottom:0; }
	.rdn-footer-top .widget:last-child{ margin-bottom:0; }
	.footer-social-icons li{ margin:2px; }
	.rdn-footer-top .widget .home-news-image{ display:inline-block; margin-bottom:0; }
	.rdn-footer-menu{ text-align: left; }
	.rdn-copyright,
	.about-image-area,
	.home-news-image,
	.home-news-body{ margin-bottom:20px; }

}

@media only screen and ( max-width: 959px ) {

	#service div[class*="col-md-"]{
		margin-bottom:20px;
	}
}

/* preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}